img {
    width: 200px;
}

div {
    float: left;
    width: 200px;
    height: 350px;
    margin: 20px;
    font-family: 'Pacifico', cursive;
}

footer {
    position: fixed;
    bottom: 0px;
}
h1 {
    font-family: 'Aref Ruqaa', serif;
    text-align: center;
    font-size: 200px;
}
#horns {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}
